/*
	Copyright © 2020 cofyocepsi@protonmail.com

	This file is part of https://gitlab.com/cofyocepsi/musicplayer.

	This project is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This project is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this project. If not, see <https://www.gnu.org/licenses/>.

	Credit to https://github.com/zedeus/nitter for some color values
*/

body {
	background-color: #0F0F0F;
	color: #F8F8F2;
}

button {
	color: #FF6C60;
	background-color: rgba(0,0,0,0);
	padding: 10px;
	border: 0;
	border-bottom: 2px solid #FF6C60;
}

input {
	color: #FF6C60;
	background-color: rgba(0,0,0,0);
	padding: 2px;
	border: 1px solid #FF6C60;
	margin: 0 5px;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #1F1F1F;
	text-align: center;
}

#tools {
	float: right;
	background-color: #1F1F1F;
}

#authtype {
	font-weight: bold;
	font-size: 20px;
}

a {
	color: #FF6C60;
}
